# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Android
android/.gradle/
android/app/debug
android/app/profile
android/app/release
android/local.properties
android/**/gradle-wrapper.jar
*.iml

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
